<div class="section-parallax h-100 py-5" style="background-image: url('https://singularityhub.com/wp-content/uploads/2018/07/healthcare_shutterstock_277918613-1068x601.jpg');">
  <div class="container my-5 bg-light p-4">
    <div class="row mx-auto">
      <div class="col-md-12">
        <h2>Log in</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>

        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
